extends ../../layouts/master
block content

  .btn-toolbar(role='toolbar')
    .btn-group(role='group')
      a.btn.btn-default(href='/clients/new'): i.fa.fa-plus

  h3 Client Listing

  #clients
    each client in clients
      .client
        .panel.panel-default
          .panel-heading
            h3.panel-title: a(href='/clients/#{client._id}')= client.name
          .panel-body
            dl
              dt Address
              dd= client.address
